@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


.body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.signup {
    border: 2px solid;
    border-radius: 15px;
    margin-left: 7px;
    font-size: 15px;
    padding: 7px 30px;
    position: absolute;
    color: #fff;
}

a:hover {
    color: #252525;
}

.login {
    border-radius: 10px;
    margin-left: 150px;
    font-size: 15px;
    padding: 7px 30px;
    color: #252525;
    color: #fff;
}


header {
    background: url(../static/images/wave-haikei.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 110px;
}

.banner-text {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
    margin-left: 20%;
    padding-left: 200px;
    text-align: end;
}

.about {
    background-color: #fff;
    margin-top: 110px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.about-heading {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 60px;
    padding: 10px;
}

.about-text {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.buddy {
    background-color: #fff;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.float-start {
    width: 50%;
}

.float-end {
    width: 50%;
}

.explain-heading {
    margin-top: 45px;
    font-size: 40px;
    text-align: center;
}

.explain-text {
    font-weight: 400;
    text-align: justify;
}

/* .saved {
    background-image: linear-gradient(to right, #EC6F66 0%, #F3A183 51%, #EC6F66 100%);
    margin-top: 20px;
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #537FE7;
    border-radius: 15px;
    display: block;
    border: 1px solid #537FE7;
}

.saved:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    border: none;
} */

.innovate {
    margin: 20px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.notes {
    margin: 20px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.sap {
    margin: 20px;
    padding-top: 200px;
}

.box {
    margin-left: 10px;
    padding: 20px;
    padding-bottom: 10px;
    color: #fff;
    background: rgb(83, 127, 231);
    background: linear-gradient(103deg, rgba(83, 127, 231, 1) 52%, rgba(56, 195, 223, 1) 100%);
    border-radius: 20px;
}

.btn {
    border: 2px solid;
    padding: 7px 30px;
    border-radius: 10px;
}

.space {
    margin-top: 300px;
    background-color: #252525;
    height: 2px;
}