
<!DOCTYPE html>
<html lang="en">
    
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/project.css">
    <title>OverSight - Project Ideas</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="/">Oversight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/forums">Sight-Bud</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/pro_ideas">Innovate Ave</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notes">Sight-Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gradpred">Sight-SAP</a>
                    </li>
                </ul>
            </div>
            
            

          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %} 
            <div class="dropdown">
                <button class="submit" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/images/user.svg" width="20px" height="20px"> {{user.username}} 
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"  href="/logout">Logout</a>
                    <a class="dropdown-item"  href="/saved" >Saved</a></button>
                </div>
            </div>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
          </ul>
          
          <div></div>

        </div>

        
    </nav>
    <section class="main">
        <div class="container">
            <h1><span>Creativity </span>is the mother of <span
                    style="color: #537FE7; font-size: 64px;">innovation</span></h1>

            <form method="POST">
                 {% csrf_token %} 

                <div class="float-start">
                    <h3>Enter the following details</h3>
                    <div class="div-inline">
                        Choose your Degree type: <br>
                        <select name="degree" class="form-select drop" aria-label="Default select example">
                            <option selected value="-1">Degree</option>
                            <option value="1">Bachelors</option>
                            <option value="2">Masters</option>
                        </select> <br>
                        Choose your Project type: <br>
                        <select name="type" class="form-select drop" aria-label="Default select example">
                            <option selected value="-1">Type</option>
                            <option value="1">Mini</option>
                            <option value="2">Major</option>
                        </select>
                        <!-- <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose Your Degree
                            </button>
                            <select name="degree" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <option value="1" class="dropdown-item">Bachelors</option>
                                <option value="2" class="dropdown-item">Masters</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose Your Project Type
                            </button>
                            <select name="type" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <option value="1" class="dropdown-item">Mini</option>
                                <option value="2" class="dropdown-item">Major</option>
                            </select>
                        </div> -->
                    </div>
                    <br>

                    <!-- <label for="inputState">Enter Degree :</label>
                    <select name="degree" class="form-control">
                        <option value="1">Bachelors</option>
                        <option value="2">Masters</option>
                    </select>

                    <label for="type">Enter Project Type: </label>
                    <select name="type" class="form-control">
                        <option value="1">Mini</option>
                        <option value="2">Major</option>
                    </select> -->

                    <!-- <label for="domain">Enter Domain : </label>
                    <input type="text" class="form-control" name="domain" id="domain"
                        placeholder="Enter Project Domain"> -->
                    
                    Give us a Domain/Subject for your project <br>
                    <div class="input-group mb-3">
                        <input name="domain" type="text" class="form-control" placeholder="Enter Your Project Domain">
                    </div>
                    <input type="submit" class="submit" name="submit"></input>
                </div>
                <div class="float-end">
                   
                    <div class="response">
                         {% if response %} 
                         <h3> Ideas curated for you</h3>
                         <div class="response2"><p style="margin:5px 5px 5px 5px;">
                            <ul>
                            {% for i in r %}
                            <li>{{ i }}</li><br>
                            {% endfor %}
                            </ul>
                            {% if user.is_authenticated %} 
                            <input type="hidden" name="savecontent" value="{{ response }}">
                            <input onclick="alert('Saved!')" type="submit" class="submit" name="save" value="SAVE"
                        id="save"></input>
                        {% endif %}
                        </p></div>
                        {% endif %}
                    </div>
                    
                </div>
            </form>
        </div>
    </section>
    <script>
        function change() {
            var elem = document.getElementById("save");
            if (elem.value == "SAVE") elem.value = "Saved!";

        }
    </script>
</body>

</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
    
    
    body {
        background-color: #fff;
    }
    
    .submit {
        background-image: linear-gradient(to right, #EC6F66 0%, #F3A183 51%, #EC6F66 100%);
        margin: 10px;
        padding: 7px 35px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        border: 1px solid #eee;
        margin-top: 10px;
        margin-left:85px ;
    }

    .response {
        width:550px ;
        height: 350px;
        background-color: #fff;
        border: 2px solid white;
        color: white;
        border-radius: 20px;
    }
    
    .response2{
        border: 2px solid #252525;
        color: #252525;
        border-radius: 20px;
    }
    
    .submit:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        border: none;
    }
    
    </style>